.idea
/深度学习华清远见参考资料.zip
test.*
__pycache__
/卷积神经网络/手写数字识别/data
/卷积神经网络/手写数字识别/validate_data
/卷积神经网络/手写数字识别/model

/卷积神经网络/经典神经网络/**/data
/卷积神经网络/经典神经网络/**/model
/卷积神经网络/经典神经网络/**/validate_data
/循环神经网络/WordEmbedding词嵌入/Word2Vec实现/data
/循环神经网络/WordEmbedding词嵌入/Word2Vec实现/voc
/大模型的部署与微调/GPT语言模型/data
/大模型的部署与微调/GPT语言模型/voc
/大模型的部署与微调/GPT语言模型/weights
/语音场景与认识声音/综合训练/weights
/大模型的部署与微调/大模型微调方案/PEFT在自定义模型上的使用/data
/大模型的部署与微调/大模型微调方案/PEFT在自定义模型上的使用/weights
/对象检测网络/YOLO/weights
/Encoder-Decoder对话机器人/data
/Encoder-Decoder对话机器人/voc
/Encoder-Decoder对话机器人/weights

*/**/data
*/**/test_data
*/**/validate_data
*/**/validation_data
*/**/weights
/卷积神经网络/人脸识别/data/**/*

成绩
/语音场景与认识声音/audios/*
/大模型部署/LangChain/示例代码/RAG知识库检索/chroma_db/

voc/VOCdevkit/*
语义分割/car_panel_detect/data/*
语义分割/car_panel_detect/save/*

/Voc_Object_Detection/data/*
/Voc_Object_Detection/save/*

目标检测/ultralytics/datasets/banana-detection/*
目标检测/yolov8/banana/*
目标检测/yolov8/weights/*
智能交通项目/data/*
*.pkl